body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css */

.sensor-grid {
  position: relative;
  width: 100%;
  height: 900px;
  /* Set an appropriate height */
}

.sensor-object {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: violet;
  /* border-radius: 50%; */
  transform: translate(-50%, -50%);
  color: violet;
  position: absolute;
}

.sensor-object-heatmap {
  position: absolute;
  width: 191px;
  height: 150px;
  background-color: red;
  /* border-radius: 50%; */
  transform: translate(-50%, -50%);
  color: red;
  position: absolute;
}

.sensor-object-heatmap-vert {
  position: absolute;
  width: 192px;
  height: 180px;
  background-color: red;
  /* border-radius: 50%; */
  transform: translate(-50%, -50%);
  color: red;
  position: absolute;
}


.sensor-object-vert {
  position: absolute;
  width: 5px;
  height: 50px;
  background-color: violet;
  /* border-radius: 50%; */
  transform: translate(-50%, -50%);
  color: violet;
  position: absolute;
}



.sensor-object-label {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 25px;
}

.floating-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}